.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.6rem;
    height: fit-content;
    padding: 15px;
    background: #16151E;
}

.header .h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 17px;
}

.input{
    display: flex;
    flex-direction: row;
    width: 40.6rem;
    height: 4rem;
    background: #16151E;
}
.inputText::placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
}

.input .inputText{
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    margin-left: 40px;
    width: 32rem;
    background-color: #24243D;
}

.buttons > button {
    border:none;
    background-color: transparent;
    cursor: pointer;
    padding: 7px;
}

.buttons > button:active {
    border:none;
    background-color: wheat ;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
